.bg-image {
    background-image: url('https://st4.depositphotos.com/2605379/23349/i/600/depositphotos_233498396-stock-photo-creative-hexagonal-texture-crosses-white.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
}