 .bg-image {
    background-image: url('https://cdn.vectorstock.com/i/500p/13/51/horizontal-of-coniferous-forest-with-mountains-vector-41651351.avif'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
} 